<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APP TRACK</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500&display=swap" rel="stylesheet">
</head>
<body>

    <div id="header">
        <div id="nav-container">
            <div id="welcome-text">
                store music </br>
                create playlists </br>
                directly on USB </br>
            </div>
        </div>
        
        <div id="connecting-text">
            connecting </br>
            to USB
        </div>

        <div id="logo-wraper">
            <div id="connect-logo">
                <img src="/images/loader.svg">
                <div id="connect-button" class="indicator">
                <img src="/images/connect-indicator.svg">
                </div>
                <p>connect</p>
            </div>
            <div id="loading-logo">
            </div>
        </div>
    </div>    

    
    <script src="/js/connection.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

</body>

</html>